<div class="page-main-container">
   <!-- Service grid -->
   <div class="service section-gap">
      <div class="container">
         <div class="section-title-wrapper">
           <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2>Best Solutions For Your Technical Needs!</h2>
                  <p class="mb-0">Best solutions from a world class professional developed with latest trends and designs. </p>
               </div>
           </div>
         </div>
         <div class="row" angly-serviceGrid [serviceGridContent]="services"></div>
      </div>
   </div>
   <!-- Video section -->
   <div class="chk-video-section section-gap bg-light">
      <div class="container">
        <div class="row" angly-chkVideo [videoContent]="videoContent">
        </div>
      </div>
   </div>
   <!-- Featured section -->
   <div class="mob-feature">
      <div class="section-gap">
         <div class="container">
            <div class="section-title-wrapper">
              <div class="row">
                  <div class="col-sm-12 col-md-10 mx-auto text-center text-white">
                     <h2 class="text-white"> The Best solutions for your technological needs </h2>
                     <p class="mb-0">Frameworks will be developed with the best and uptodate technologies, making a complete and unique solution for  for your business.</p>
                  </div>
              </div>
            </div>
            <div class="row" angly-mobileFeatured [mobileFeatured]="mobileFeatured"></div>
         </div>
      </div>
   </div>
   <!-- Projects grid-->
   <div class="Gallery-grid section-gap">
      <div class="container">
         <div class="section-title-wrapper">
            <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Our Awesome Projects </h2>
                  <p class="mb-0">

                   Here in the photo gallery  you can see some of the latest projects on web apps, mobile apps, on cyber security applied to every kind of devices, Ethical Hacking, Pen Testing of Web Sites, Internet of Things applied to Agricolture and Forestry.
                  </p>
               </div>
            </div>
         </div>
         <div class="row" angly-gallaryGrid gridClass="col-sm-12 col-md-4 mb-4" [gallaryGridContent]="projectGallary"></div>
      </div>
   </div>
   <!-- Posts grid -->
   <div class="post-section bg-light section-gap">
      <div class="container">
         <div class="section-title-wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Latest Blog Posts </h2>
                </div>
            </div>
         </div>
         <div class="card-deck">
            <div class="row" angly-postGrid [postGridContent]="posts"></div>
         </div>
      </div>
   </div>
   <!-- Team grid -->
   <div class="team section-gap">
      <div class="container">
         <div class="section-title-wrapper">
            <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Our Team </h2>
                  <p class="mb-0">Meet our professional and experienced team, each team member is highly skilled and master in their area.</p>
               </div>
            </div>
         </div>
         <div class="row" angly-teamGrid [teamGridContent]="team" ></div>
      </div>
   </div>

   <!-- Testimonial -->
   <div class="testimonial-section section-gap">
      <div class="">
         <div class="container">
            <div angly-testimonial [testimonialContent]="testimonial"></div>
         </div>
      </div>
   </div>
   <!-- Subscribe section -->
   <div angly-subscribe [subscribeFormClasses]="subscribeFormClasses"></div>
   <!-- Contact information section -->
   <div class="contact-section section-gap">
      <div class="container">
         <div class="section-title-wrapper">
            <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2>Contact Information  </h2>
               </div>
            </div>
         </div>
         <div class="row" angly-homeContact [contact]="contact"></div>
      </div>
   </div>
   <!-- Send message section -->
   <div class="send-msg section-gap style-form">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-10 col-lg-7 mx-auto">
                  <div angly-sendMessage></div>
               </div>
            </div>
         </div>
   </div>
</div>
